<h2>Neueste Einträge</h2>
<% @entries.each do |entry| %>
  <h4><%= entry.title %></h4>
  <p><%= truncate(entry.body) %></p>
  <p>Eingeordnet in : <%= entry.lists.to_s %></p>
  <p><%= link_to 'Weiterlesen', entry %></p>
<% end %>

