<%- flash[:message] = InfoMessage.new :body => "Was möchtest Du tun?" -%>
  <div class="subcolumns">
    <div class="c50l">
      <div id="nav" class="subcl" role="navigation">
        <h6> <%= link_to "Selbst gezielt oder einfach nur stöbernd in den bisherigen Informationen suchen", lists_url %>
        </h6>
      </div>
    </div>
    <div class="c50r" role="complementary">
      <div class="subcr">
        <h6>
          <%= link_to "Einloggen (bzw. neuanmelden) und jungen Menschen dabei helfen die Vielzahl der Möglichkeiten für die Studien- und Berufsfindung zu entdecken", new_entry_url %>
        </h6>
      </div>
    </div>
  </div>
